black==19.10b0
dtreeviz
fasttext
graphviz
ipywidgets
isort==v4.3.21
jupyterlab
jupytext
matplotlib
matplotlib
miceforest
miceforest
pandas
pandas-profiling
plotly
pre-commit
requests
scikit-learn
seaborn
sklearn
ipympl
