black==19.10b0
dtreeviz
fasttext
graphviz
ipympl
ipywidgets
isort==v4.3.21
jupyterlab
jupytext
lightgbm
matplotlib
matplotlib
matplotlib
miceforest
miceforest
pandas
pandas
pandas-profiling
plotly
pre-commit
requests
scikit-learn
seaborn
sklearn
